body {
  width: 1600px;
  height: 100%;
  margin: auto;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
  padding: 0;
}
.wrap_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 1170px;
  height: 80px;
  margin: 0 auto;
}
.header__navigation > ul,
.header__contacts > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__navigation > ul > li {
  margin-left: 50px;
}
.header__navigation > ul > li > a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.header__navigation > ul > li > a:hover {
  color: #2196f3;
}
.header__contacts {
  width: 50%;
}
.header__contacts > ul {
  justify-content: space-around;
  width: 60%;
  margin: 0 42%;
}
.header__contacts-email > a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.header__contacts-email > a:hover {
  color: #2196f3;
}
.header__contacts-phone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.header__baner {
  width: 100%;
  height: 600px;
  background-color: #2f303a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__baner-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  color: #ffffff;
}
.header__baner-botton {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
}
.wrap_main {
  width: 100%;
}
.main__features > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 1170px;
  height: 101px;
  margin: 94px auto;
}
.main__features > ul > li > h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.main__features > ul > li > p {
  width: 270px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.main__w-we-doing-heading,
.main__our-team-heading {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.main__w-we-doing-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 1170px;
  margin: 50px auto;
  margin-bottom: 94px;
}
article {
  width: 100%;
  height: 648px;
  background: #f5f4fa;
  display: flex;
  flex-direction: column;
}
.main__our-team {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1170px;
  margin: 50px auto;
}
.main__our-team-heading {
  margin-top: 94px;
  margin-bottom: 0;
}
.main__our-team > li {
  width: 270px;
  height: 368px;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.main__our-team > li > img {
  width: 270px;
  height: 260px;
}
.main__our-team > li > h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}
.main__our-team > li > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
}
footer {
  width: 100%;
  height: 252px;
  background: #2f303a;
  display: flex;
  align-items: center;
}
.wrap_footer {
  width: 1170px;
  margin: 0 auto;
}
.footer__address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
